# Activa o desactiva la lectura desde la base de datos (true/false)
DB_ENABLED=true

# Host de PostgreSQL (ej. la IP donde está tu BD, como 192.168.0.67)
DB_HOST=
DB_PORT=

# Nombre de la base de datos
DB_NAME=

# Credenciales de usuario
DB_USER=
DB_PASSWORD=

# (Opcional) Filtrar por el ID del jefe
# DB_FILTER_BY_JEFE_ID=1
